
.notes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form-input {
    margin-top: 1em;
}

#title {
    font-size: 8em;
    font-family: "RobotoRegular", Helvetica, Arial;
}

#form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
    align-items: center;
}

#form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

#form-button-create {
    font-family: "RobotoBold";
    width: 5em;
}

#noteTitleInput {
    font-family: "MonospaceBold";
}

#noteContentInput {
    font-family: "MonospaceBold";
}

#router-container {
    padding: 3em;
    font-family: "RobotoRegular";
}

@media screen and (max-width: 900px) {
    #title {
        font-size: 6em;
    }
    #form {
        width: 60%;
        margin-bottom: 17px;
    }
}

@media screen and (max-width: 750px) {
    #title {
        font-size: 5em;
    }
    #form {
        width: 70%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 500px) {
    #title {
        font-size: 4em;
    }
    #form {
        width: 75%;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 400px) {
    #title {
        font-size: 3em;
    }
    #form {
        width: 75%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 300px) {
    #title {
        font-size: 3em;
    }
    #form {
        width: 75%;
        margin-bottom: 7px;
    }
}