#form-container {
    display: flex;
    justify-content: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    font-family: "RobotoRegular";
    align-items: center;
    width: 40%;
}

#login-title {
    font-family: "RobotoRegular";
    font-size: 5em;
}

#login-button {
    font-family: "RobotoBold";
}

#router-container {
    padding: 3em;
    font-family: "RobotoRegular";
}